<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Scrabble</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="../static/css/css_font-awesome.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <style>
        @font-face {
            font-family: 'Eurostile';
            src: url('../static/fonts/eurostile.TTF') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        :root {
            --tile-size: 42px;
            --icon-size: 36px;
            --text-color: white;
            --background-color: #2A6334;  /* Dark green background */
            --cell-color: #3F8E41;   /* Light green foreground */
        }
    </style>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="../static/libs/jquery/jquery.min.js"></script>
</head>
  <!--link rel="icon" href="../static/icons/logo.svg" sizes="any" type="image/svg+xml"-->
  {% block content %} {% endblock %}

</html>