<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrabble Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lobby.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap-5.3/css/bootstrap.min.css') }}">

    <script src="{{ url_for('static', filename='libs/bootstrap-5.3/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Game.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/Player.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/Lobby.js') }}"></script> 
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background-color: var(--background-color);
            font-family: 'Eurostile', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <!--div class="container">
            <button class="circularButton" id="buttonSettings" onclick="openSettings()"></button>
            <button class="circularButton" id="buttonAbout" onclick="openAbout()"></button>
        </div-->
        <div class="container" id="title">
            <div class="game-title ">
                <div class="tile">S<span class="points">1</span></div>
                <div class="tile">C<span class="points">3</span></div>
                <div class="tile">R<span class="points">1</span></div>
                <div class="tile">A<span class="points">1</span></div>
                <div class="tile">B<span class="points">3</span></div>
                <div class="tile">B<span class="points">3</span></div>
                <div class="tile">L<span class="points">1</span></div>
                <div class="tile">E<span class="points">1</span></div>
            </div>                                           
            <h1 id="gameIDHeader" style="color: var(--text-color); font-size: 15px; visibility: hidden;">Looby ID: <span id="gameIDSpan"> 000001 </span></h1>
        </div>

        <div class="stacked-container" id="stackedContainer">
            <div class="stacked-item" id="selectionStackItem" style="visibility: visible; z-index: 1;">
                <button class="button-lobby" onclick="navigateToNewGameStack()">
                    Create New Game
                    <br>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 5V19M5 12H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button class="button-lobby" onclick="navigateToJoinLobbyStack()">
                    Join Game
                    <br>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4V16M12 16L8 12M12 16L16 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>   
            </div>
            <div class="stacked-item" id="newGameStackItem" style="visibility: hidden; z-index: 2; align-items: flex-start;">
                <div  style="display: grid; flex-direction: row; width: 100%; height: 100%;" >
                    <div class="table-lobby" id="tablePlayerList">
                        <div class="container-lobby">
                            <span style="margin: 10px;">Player 1</span>
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputPlayerName" placeholder="Enter Username"  style="text-align: center;">
                            </div>
                            <span id="dummyPlayerType1" style="visibility: hidden;">HUMAN</span>
                        </div>
                        <div class="container-lobby">
                            <span style="margin: 10px;">Player 2</span>
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle fixed-width-dropdown" type="button" id="dropdownPlayerType2" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                                    EMPTY
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownPlayerType2">
                                    <a class="dropdown-item" onclick="updateDropdownText('dropdownPlayerType2', 'EMPTY')">EMPTY</a>
                                    <a class="dropdown-item" onclick="updateDropdownText('dropdownPlayerType2', 'AI')">AI</a>
                                    <a class="dropdown-item" onclick="updateDropdownText('dropdownPlayerType2', 'HUMAN')">HUMAN</a>
                                </div>
                            </div>
                        </div>
                        <div class="container-lobby">
                            <span style="margin: 10px;">Player 3</span>
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle fixed-width-dropdown" type="button" id="dropdownPlayerType3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    EMPTY
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownPlayerType3">
                                    <a class="dropdown-item" onclick="updateDropdownText('dropdownPlayerType3', 'EMPTY')">EMPTY</a>
                                    <a class="dropdown-item" onclick="updateDropdownText('dropdownPlayerType3', 'AI')">AI</a>
                                    <a class="dropdown-item" onclick="updateDropdownText('dropdownPlayerType3', 'HUMAN')">HUMAN</a>
                                </div>
                            </div>
                        </div>
                        <div class="container-lobby">
                            <span style="margin: 10px;">Player 4</span>
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle fixed-width-dropdown" type="button" id="dropdownPlayerType4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    EMPTY
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownPlayerType4">
                                    <a class="dropdown-item" onclick="updateDropdownText('dropdownPlayerType4', 'EMPTY')">EMPTY</a>
                                    <a class="dropdown-item" onclick="updateDropdownText('dropdownPlayerType4', 'AI')">AI</a>
                                    <a class="dropdown-item" onclick="updateDropdownText('dropdownPlayerType4', 'HUMAN')">HUMAN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="button-lobby" type="button" style="width: auto; height: auto;" id="createGameButton" onclick="createNewGame()">Create Game</button>
                </div>
            </div>
            <div class="stacked-item" id="joinLobbyStackItem" style="visibility: hidden; z-index: 3; align-items: flex-start;">
                <div class="table-lobby">
                    <div class="container-lobby" style="align-items: center;">
                        <div class="form-group" style="width: 100%; align-content: baseline;">
                            <input type="text" class="form-control" id="inputGameID" placeholder="Enter Lobby ID" style="text-align: center;">
                        </div>
                    </div>
                    <div class="container-lobby" style="align-items: center;">
                        <div class="form-group" style="width: 100%; align-content: baseline;">
                            <input type="text" class="form-control" id="inputJoinPlayerName" placeholder="Enter Username" style="text-align: center;">
                        </div>
                    </div>
                    <button class="button-lobby" type="button" id="joinGameButton" style="width: auto; height: auto;" onclick="joinGame()">Join Game</button>
                </div>
            </div>
            <div class="stacked-item" id="lobbyStackItem" style="visibility: hidden; z-index: 4; align-items: flex-start; justify-content: normal; display: grid; align-items: end;">
                <div class="table-lobby" id="lobbyPlayerList"></div>
                <button class="button-lobby" type="button" id="enterGameButton" style="width: auto; height: auto;" onclick="enterGame()">Enter Game</button>
            </div>
        </div>
    </div>
</body>

<script>

function updateDropdownText(dropdownId, text) {
    document.getElementById(dropdownId).innerText = text;
}

</script>

<script>

const socket = io.connect(`${window.location.origin}`);

// Websocket events

socket.on('update-lobby', function(data) {
    playersMeta = data.playersMeta;
    updateLobby(data.playersMeta);
});

</script>

</html>
